<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrc.module">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="com.example.lrc.Application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.example.lrc.service.MusicPlayerService">
            <intent-filter>
                <action android:name="com.example.lrc.service.MusicPlayerService.MSG_ACTION" />
            </intent-filter>
        </service>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestHeartActivity"
            android:label="@string/title_activity_test_heart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroductionActivity"
            android:label="@string/title_activity_introduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayMusicActivity"
            android:label="@string/title_activity_play_music"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>